@import url(https://fonts.googleapis.com/css?family=Chocolate+Classical+Sans:regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chocolate Classical Sans";
  background: linear-gradient(135deg, #63c8ff, #4dffbe);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  padding: 1.2rem;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

.board {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #333;
  font-weight: 800;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  width: 100%;
}

.board-list {
  background: #8dbcc7;
  padding: 1rem;
  border-radius: 8px;
  width: 30%;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.board-list h2 {
  color: #00809d;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card {
  background-color: #a4ccd9;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.board-list.over {
  background: rgb(140, 190, 300);
}

@media (max-width: 768px) {
  .board {
    flex-direction: column;
    align-items: center;
  }

  .board-list {
    width: 80%;
    margin-bottom: 20px;
  }
}

.add-card-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  padding: 10px;
  color: #333;
  font-weight: 600;
  border: none;
  background: #00809d;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.add-card-btn:hover {
  background: rgb(0, 110, 150);
}

.delete-btn {
  border: 0;
  background-color: transparent;
  float: right;
  cursor: pointer;
}
